<app-navbar></app-navbar>
<div style="margin: 0 10%;">

    <br>

    <h4 style="margin-top: 10px; text-align: left; font-size: 1.7em; font-weight: 600;">Latest Activity</h4>

    <form (ngSubmit)="processForm()" class="example-form" style="font-size: 1.3em;">
        <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput name="search" [(ngModel)]="name" placeholder="Search for study sets">
            <mat-hint align="left">Search all</mat-hint>
        </mat-form-field>
    </form>

    <br>
    <br>

    <app-carousel></app-carousel>

    <br>

    <h4 style="text-align: left; font-size: 1.3em; font-weight: 600;">Your Study Sessions</h4>
    <app-user-study-sessions></app-user-study-sessions>

    <br>

    <h4 style="text-align: left; font-size: 1.3em; font-weight: 600;">Your Study Sets</h4>
    <app-user-study-sets></app-user-study-sets>

    <br>
    <br>
    <br>

</div>