<div class="row">
  
  <div class="column">
    <mat-card class="example-card" style="margin-bottom: 1%;">
      <mat-card-content>
        <p>50 Questions | Study Set Title</p>
      </mat-card-content>
      <a href="#" class="btn btn-primary">Open</a>
    </mat-card>
  </div>

  <div class="column">
    <mat-card class="example-card">
      <mat-card-content>
        <p>50 Questions | Study Set Title</p>
      </mat-card-content>
      <a href="#" class="btn btn-primary">Open</a>
    </mat-card>
  </div>
  
  <div class="column">
    <mat-card class="example-card">
      <mat-card-content>
        <p>50 Questions | Study Set Title</p>
      </mat-card-content>
      <a href="#" class="btn btn-primary">Open</a>
    </mat-card>
  </div>

</div>