<div class="partial">
  <img src="../../assets/images/getIt-img.png" class="signupPageLogo">

  <br>

  <form (ngSubmit)="processForm()" class="signup-example-form" style="margin-top: 4%;">
    <mat-form-field class="signup-example-full-width">
      <input matInput name="firstname" placeholder="First Name" value="Rony" [(ngModel)]="user.firstname">
    </mat-form-field>

    <br>

    <mat-form-field class="signup-example-full-width">
      <input matInput name="lastname" placeholder="Last Name" value="Alvarez" [(ngModel)]="user.lastname">
    </mat-form-field>

    <br>

    <mat-form-field class="signup-example-full-width">
      <input matInput name="email" placeholder="Email" value="ronyalvarez@gmail.com" [(ngModel)]="user.email">
    </mat-form-field>

    <br>

    <mat-form-field class="signup-example-full-width">
      <input matInput name="password" type="password" placeholder="Password" value="Password" [(ngModel)]="user.password">
    </mat-form-field>

    <br>

    <div class="variation-b">
      <button type="submit" (click)="processForm()" class="suit_and_tie">SIGN UP</button>
    </div>

    <br>

    <p style="color: white;">Already have an account?
      <a routerLink="/login" class="loginLink">Login!</a>
    </p>

  </form>
</div>