body {
  text-align: center;
}

.partial { 
  height: 800px;
  background: url(../../assets/images/web_img.png);
}

suit_and_tie {
  color: white;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: rgba(8, 8, 8, 0);
  padding: 4px 30px;
  width: 70%;
}
  
.suit_and_tie:hover {
  color: lightskyblue;
  background-color: white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  cursor: pointer;
}

.signupPageLogo {
    margin-top: 40px;
}

.signup-example-form {
  min-width: 150px; 
  max-width: 500px;
  width: 100%;
}
    
.signup-example-full-width {
  width: 70%;
}

.loginLink {
  text-decoration: none;
  color: white
}

.loginLink:hover {
  color: lightskyblue;
}